[user]
  name = Andrew Zabelin
  email = letzabelin@gmail.com
[core]
  excludesfile = ~/.gitignore
  editor = vim
  pager = git-split-diffs --color | less -RFX
[init]
  defaultBranch = main
[pull]
  rebase = false
[push]
  autoSetupRemote = true
[split-diffs]
  theme-name = github-dark-dim
  min-line-width = 0
